<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="help_desk.Properties.Settings.dbSalatiel1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\dbSalatiel1.mdb"
            providerName="System.Data.OleDb" />
        <add name="help_desk.Properties.Settings.dbSalatiel1ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Pichau\Desktop\PIM\Final\pimfinal\Sistema\bd\dbSalatiel1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>